Repository oumpy/hp_management, pull requests merged in 2020-06, with the labels that each got.

#294 第3回勉強会です
  content/articles/2020sy/blog/attach/studymeeting2020_03/勉強会第3回.ipynb
  content/articles/2020sy/blog/attach/studymeeting2020_03/第3回勉強会_競プロの基礎.pdf
  content/articles/2020sy/blog/studymeeting2020_03.md
Labels: article

#295 Theme based on Bootstrap4
  content/contentconf.py
  content/images/logo.jpg
  content/pages/about.md
  myplugins/makemenu.py
  myplugins/pelican-sass.py
  pelicanconf.py
  requirements.txt
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
  theme/voidy-bootstrap/static/sass/theme.scss
  theme/voidy-bootstrap/templates/archives.html
  theme/voidy-bootstrap/templates/author.html
  theme/voidy-bootstrap/templates/base.html
  theme/voidy-bootstrap/templates/category.html
  theme/voidy-bootstrap/templates/includes/custom/footer.html
  theme/voidy-bootstrap/templates/includes/custom/sb_tagcloud.html
  theme/voidy-bootstrap/templates/includes/custom/scrolltop_scripts.html
  theme/voidy-bootstrap/templates/index.html
  theme/voidy-bootstrap/templates/tag.html
Labels: page/news, system, theme

#293 Bugfix on internal links in previews.
  .github/workflows/preview.yml
Labels: bug, system

#297 Minor corrections on configurations
  content/contentconf.py
  content/publish/robots.txt
  pelicanconf.py
  publishconf.py
Labels: config, technical

#298 Bugfix on menu-link in paginated lists.
  theme/voidy-bootstrap/templates/base.html
Labels: bug, theme

#299 Studymeeting2020_04
  content/articles/2020sy/blog/attach/studymeeting2020_04/勉強会第4回.ipynb
  content/articles/2020sy/blog/attach/studymeeting2020_04/第4回勉強会_ライブラリを用いたデータ処理.pdf
  content/articles/2020sy/blog/studymeeting2020_04.md
Labels: article

#300 Fix "neural_tangents" article
  content/articles/2020sy/blog/neural_tangents.ipynb
Labels: article

#301 Study meeting2020 5
  content/articles/2020sy/blog/attach/studymeeting2020_05/第5回勉強会_統計入門.pdf
  content/articles/2020sy/blog/studymeeting2020_05.md
Labels: article

#302 Plugin/excludes_dirnames
  content/contentconf.py
  myplugins/excludes_dirnames.py
  pelicanconf.py
Labels: config, system, technical

#305 scrolltop_scripts: minor correction.
  theme/voidy-bootstrap/templates/includes/custom/scrolltop_scripts.html
Labels: technical, theme

#304 Delete unnecessary metadata from pages
  content/pages/about.md
  content/pages/achievements.md
  content/pages/activities.md
  content/pages/constitution.md
  content/pages/contact.md
  content/pages/recruit.md
  content/pages/search.md
Labels: page/news, technical

#303 Enable hyperlinks to tags/authors list in articles lists
  pelicanconf.py
Labels: config

#307 Debug of the breakdown of sb_social feed links in deeper pages
  theme/voidy-bootstrap/templates/includes/custom/sb_social.html
Labels: bug, theme

#308 apply_jinja2: Update to apply Jinja2 to titles.
  myplugins/apply_jinja2.py
Labels: system

#310 base.html: Add striptags to SITENAME.
  theme/voidy-bootstrap/templates/base.html
Labels: theme

#309 Announcement of the new formal name
  content/articles/2020sy/news/formalname.md
  content/contentconf.py
  content/pages/about.md
  content/pages/constitution.md
Labels: Caution, config, page/news

#312 Add a new blog article, "やさしいYouTube APIのはなし"
  content/articles/2020sy/blog/images/youtube_api_figs/image1.png
  content/articles/2020sy/blog/images/youtube_api_figs/image10.png
  content/articles/2020sy/blog/images/youtube_api_figs/image11.png
  content/articles/2020sy/blog/images/youtube_api_figs/image12.png
  content/articles/2020sy/blog/images/youtube_api_figs/image2.png
  content/articles/2020sy/blog/images/youtube_api_figs/image3.png
  content/articles/2020sy/blog/images/youtube_api_figs/image4.jpg
  content/articles/2020sy/blog/images/youtube_api_figs/image5.jpg
  content/articles/2020sy/blog/images/youtube_api_figs/image6.jpg
  content/articles/2020sy/blog/images/youtube_api_figs/image7.jpg
  content/articles/2020sy/blog/images/youtube_api_figs/image8.jpg
  content/articles/2020sy/blog/images/youtube_api_figs/image9.jpg
  content/articles/2020sy/blog/youtube_api.md
Labels: article

#313 youtube_api: replace some figures.
  content/articles/2020sy/blog/images/youtube_api_figs/image1.png
  content/articles/2020sy/blog/images/youtube_api_figs/image11.png
  content/articles/2020sy/blog/images/youtube_api_figs/image12.png
  content/articles/2020sy/blog/images/youtube_api_figs/image2.png
  content/articles/2020sy/blog/images/youtube_api_figs/image3.png
Labels: article, bug

#314 Add a new blog article, '幅優先探索の話 (競プロの話)'
  content/articles/2020sy/blog/competition_BFS.md
  content/articles/2020sy/blog/images/competition_BFS_figs/image.png
Labels: article

#315 article competition_BFS.md: Add an editor's note.
  content/articles/2020sy/blog/competition_BFS.md
Labels: article

#311 Delete invalid settings of AUTHOR properties.
  content/contentconf.py
Labels: config, technical

#186 Delete intermediate files in preview system
  .github/workflows/preview.yml
  .github/workflows/webhook_delete_artifacts.yml
Labels: system, technical

#317 Revert "Delete intermediate files in preview system"
  .github/workflows/preview.yml
  .github/workflows/webhook_delete_artifacts.yml
Labels: system

#318 competiont_BFS: minor addtion to editor's note.
  content/articles/2020sy/blog/competition_BFS.md
Labels: article

#319 Add blockquote style
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: theme
