Repository oumpy/hp_management, pull requests merged in 2020-11, with the labels that each got.

#356 new article: irmae
  content/articles/2020sy/blog/irmae.ipynb
  content/articles/2020sy/blog/irmae.nbdata
Labels: article

#357 Update voidybootstrap-custom.css
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: theme

#358 Update IRMAE
  content/articles/2020sy/blog/irmae.ipynb
Labels: article

#361 minor correction on jupyter notebook articles by `subcells` metadata.
  content/articles/2020sy/blog/studymeeting2020_07.nbdata
Labels: article

#355 page/recruit: Add information on associate-members system.
  content/pages/recruit.md
Labels: page/news

#362 activities: update on the student server.
  content/pages/activities.md
Labels: page/news

#360 recruit.md: Reorganize 2020-recruit as archive.
  content/pages/recruit.md
Labels: page/news

#363 recruit/shinkan2020.jpg: blue LINE QR-code in the handbill.
  content/pages/images/recruit/shinkan2020.jpg
Labels: page/news

#359 Update activities page
  content/pages/activities.md
  content/pages/images/activities/medical_ai_2020.jpg
Labels: page/news

#364 new article : hypothesis liability
  content/articles/2020sy/blog/hypothesis_liability.ipynb
  content/articles/2020sy/blog/hypothesis_liability.nbdata
Labels: article

#365 autosummary: Add `AUTOSUMMARY_DELETE_HTMLTAGS`
  myplugins/autosummary/autosummary.py
Labels: system

#366 Correct author names. (wrong chinese letters)
  content/articles/2018sy/blog/RDKit.nbdata
  content/articles/2018sy/blog/original_rnaseq_pipeline.md
Labels: article
