Repository oumpy/hp_management, pull requests merged in 2020-07, with the labels that each got.

#320 New article: Same stats, Different graphs
  content/articles/2020sy/blog/samestats.ipynb
  content/articles/2020sy/blog/samestats.nbdata
Labels: article

#322 Add an article, '【勉強会資料 2020 第7回】機械学習実践編 : Kerasで作る深層学習画像分類器'
  content/articles/2020sy/blog/studymeeting2020_07.ipynb
  content/articles/2020sy/blog/studymeeting2020_07.nbdata
Labels: article

#316 Add a new article, 'Python会とPythonとPython会で使われているPython'
  content/articles/2020sy/blog/PythonParty_and_Python.md
Labels: article

#324 studymeeting2020_07: add missing tag '勉強会'
  content/articles/2020sy/blog/studymeeting2020_07.nbdata
Labels: article

#325 Add a news article '医学部公認団体として正式承認されました'.
  content/articles/2020sy/news/officialize_accept.md
Labels: page/news

#326 create.py: Delete time from default date.
  content/create.py
Labels: system

#328 officialize_accept.md: Add '(情報医科学研究会)' in the beginning part.
  content/articles/2020sy/news/officialize_accept.md
Labels: page/news

#327 Revise the Constitution for the officialization.
  content/pages/constitution.md
Labels: Caution, page/news

#329 recruit.md: Update the recruit movie.
  content/pages/recruit.md
Labels: page/news

#331 achievements.md: Correct Japanese.
  content/pages/achievements.md
Labels: page/news
