Repository oumpy/hp_management, pull requests merged in 2020-04, with the labels that each got.

#119 Renewal News corrected.
  content/articles/2019sy/News/website_renewal.md
Labels: news/pages

#116 article bioinfoexam2019_answer.md: section hierarchy improved.
  content/articles/2019sy/Blog/bioinfoexam2019_answer.md
Labels: article

#123 content/README.md: How to post articles.
  content/README.md
Labels: document

#121 content/README.md: How to make internal links.
  content/README.md
Labels: document

#126 website_renewal.md: modified date corrected.
  content/articles/2019sy/News/website_renewal.md
Labels: news/pages

#128 Article URL change
  Makefile
  content/postprocess.sh
  pelicanconf.py
Labels: Caution, article, system

#130 Show modified dates on selected pages
  content/pages/achievements.md
  content/pages/activities.md
  content/pages/recruit.md
  pelicanconf.py
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
  theme/voidy-bootstrap/templates/includes/custom/header_page.html
  theme/voidy-bootstrap/templates/includes/custom/page_showmodified_scripts.html
Labels: news/pages, theme

#127 content/README.md : How to post
  content/README.md
Labels: document

#124 recruit.md: updated on offline/online events.
  content/pages/recruit.md
Labels: pages/news

#134 「JuliaとPythonと競技プログラミング」minor corrections.
  content/articles/2018sy/Blog/julia_python_competition.md
Labels: article

#133 Metadata of Pages corrected.
  content/pages/about.md
  content/pages/achievements.md
  content/pages/activities.md
  content/pages/blog.md
  content/pages/contact.md
  content/pages/recruit.md
Labels: pages/news

#136 2019sy blog article 「はじめての競プロ：入力アンチョコメモ」
  content/articles/2019sy/Blog/competition_input.md
Labels: article

#137 2019 article "IPA「基本情報技術者試験」受験録"
  content/articles/2019sy/Blog/IPA_FE.md
Labels: article

#141 Support multiple authors in the theme
  content/articles/2018sy/Blog/mishima.md
  content/articles/2018sy/Blog/original_rnaseq_pipeline.md
  content/articles/2018sy/Blog/study_abroad.md
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/article_header.html
  theme/voidy-bootstrap/templates/includes/custom/article_header_info.html
Labels: article, theme

#142 2018sy article lorentz.ipynb: link to datafile corrected.
  content/articles/2018sy/Blog/lorenz.ipynb
Labels: article

#140 Tag guide
  content/README.md
Labels: document

#129 load plugin liquid_tags.youtube
  pelicanconf.py
Labels: system

#131 Head part of README.md revised to up-to-date content.
  README.md
Labels: document

#135 move deploy.py : tools/ -> tools/lib/
  tools/init.sh
  tools/lib/deploy.py
Labels: system, technical

#147 Responsive youtube iframe
  content/articles/2018sy/Blog/sushi_typing.md
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: article, theme

#150 Apply multiple authors to article lists.
  pelicanconf.py
Labels: theme

#143 Add 2019sy article: 機械学習のための最新GPU比較
  content/articles/2019sy/Blog/GPUs_for_ML.md
Labels: article

#151 Add requirements.txt
  README.md
  requirements.txt
Labels: document, system

#153 Bugfix for locking system.
  tools/updatesite.sh
Labels: bug, system, technical

#156 preamble & summary added to 2019sy article "バイオインフォマティクス技術者認定試験2019 解…
  content/articles/2019sy/Blog/bioinfoexam2019_answer.md
Labels: article

#159 Centering of images
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: theme

#157 2019 article atcoder.md renamed to atcoder_beginners_selection.md
  content/articles/2019sy/Blog/atcoder_beginners_selection.md
Labels: article

#164 Do not make center images of open in github / colab
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: bug, theme

#166 Add "関連記事" to each article
  content/contentconf.py
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/footer.html
  theme/voidy-bootstrap/templates/includes/custom/related_posts.html
  theme/voidy-bootstrap/templates/includes/custom/scripts_article.html
  theme/voidy-bootstrap/templates/includes/custom/scripts_base.html
  theme/voidy-bootstrap/templates/includes/custom/scrolltop_scripts.html
  theme/voidy-bootstrap/templates/includes/custom/toc_scripts.html
Labels: theme

#168 Bugfix: add IPython in requirements.txt
  requirements.txt
Labels: bug, system, technical

#162 Auto-publish system replaced by GitHub Actions
  .github/workflows/deploy_on_site.yml
Labels: Caution, system

#174 Replace Colab & GitHub badge images by external URLs to generate them.
  theme/voidy-bootstrap/static/images/colab.png
  theme/voidy-bootstrap/static/images/colab.svg
  theme/voidy-bootstrap/static/images/github.png
  theme/voidy-bootstrap/static/images/github.svg
  theme/voidy-bootstrap/templates/includes/custom/open_in_colab_scripts.html
Labels: theme

#175 README.md: delete ToDo, which are already done or included in Issues.
  README.md
Labels: document

#173 content/README.md: Revise how-to-post.
  content/README.md
Labels: document

#171 CODEOWNERS: Give authority for recruit page to staff_recruit team.
  .github/CODEOWNERS
Labels: system

#169 tag-cloud introduced
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/sb_tagcloud.html
Labels: theme

#180 Correct SSH configuration in GitHub Actions Auto-publish System
  .github/workflows/deploy_on_site.yml
Labels: system

#182 Improvements of tools/ scripts
  Makefile
  content/postprocess.sh
  tools/init.sh
  tools/init_output.sh
  tools/init_repository.sh
  tools/setcgi.sh
  tools/updatesite.sh
Labels: system, technical

#185 README: on publish/preview systems
  README.md
  content/README.md
Labels: document

#181 Preview System by GitHub Actions
  .github/workflows/delete_preview.yml
  .github/workflows/preview.yml
  content/contentconf.py
Labels: Caution, system

#160 Update neural_tangents.ipynb
  content/articles/2020sy/Blog/neural_tangents.ipynb
  content/articles/2020sy/Blog/neural_tangents.nbdata
Labels: article

#184 Minor improvements of publish system
  .github/workflows/deploy_on_site.yml
Labels: bug, system, technical

#187 minor error correction in publish system
  .github/workflows/deploy_on_site.yml
Labels: system

#190 Make Menubar customizable
  theme/voidy-bootstrap/templates/base.html
Labels: theme

#189 minor improvements of preview system.
  .github/workflows/delete_preview.yml
  .github/workflows/preview.yml
Labels: system

#192 Auto-Summary System for articles
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/index_summary.html
  theme/voidy-bootstrap/templates/includes/index_summaries.html
Labels: system, theme

#188 Publish system: Revert unexpected reverses.
  .github/workflows/deploy_on_site.yml
Labels: system

#195 News preamble
  content/pages/includes/news_content.html
Labels: pages/news

#196 Semi-auto generation of tag-group list on blog.html
  content/contentconf.py
  content/pages/includes/blog_content.html
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/content_top_category.html
Labels: pages/news, theme

#193 Autosummary: keep title tags in summary as strong
  pelicanconf.py
Labels: system

#194 Alternative Japanese name for categories
  content/contentconf.py
  theme/voidy-bootstrap/templates/category.html
  theme/voidy-bootstrap/templates/includes/custom/article_header_info.html
  theme/voidy-bootstrap/templates/includes/custom/content_top_category.html
  theme/voidy-bootstrap/templates/includes/custom/sidebar.html
Labels: theme

#163 Create Linear Mixed Model
  content/articles/2020sy/Blog/images/linear_mixed_model_figs/001.JPG
  content/articles/2020sy/Blog/images/linear_mixed_model_figs/002.JPG
  content/articles/2020sy/Blog/images/linear_mixed_model_figs/003.JPG
  content/articles/2020sy/Blog/linear_mixed_model.md
Labels: article

#177 correct IPA_FE.md
  content/articles/2019sy/Blog/IPA_FE.md
Labels: article

#197 Fix typo in neural_tangents.ipynb
  content/articles/2020sy/Blog/neural_tangents.ipynb
Labels: article

#200 Autosummary system as a plugin
  myplugins/autosummary/LICENSE
  myplugins/autosummary/ReadMe.md
  myplugins/autosummary/__init__.py
  myplugins/autosummary/autosummary.py
  myplugins/autosummary/requirements.txt
  myplugins/autosummary/test_autosummary.py
  pelicanconf.py
  requirements.txt
  theme/voidy-bootstrap/templates/includes/custom/index_summary.html
  theme/voidy-bootstrap/templates/includes/index_summaries.html
Labels: system

#204 Add services-specific icons to social links on sidebar.
  content/contentconf.py
  theme/voidy-bootstrap/templates/includes/custom/sidebar.html
Labels: theme

#202 'summary' plugin added with 'autosummary'
  content/README.md
  myplugins/autosummary/ReadMe.md
  pelicanconf.py
Labels: document, system

#203 Sitemap.xml added
  content/contentpublishconf.py
  publishconf.py
Labels: system

#210 Add tag badges for every article.
  theme/voidy-bootstrap/templates/includes/custom/article_header_info.html
Labels: theme

#209 Move article dates, from above title to below title
  theme/voidy-bootstrap/templates/includes/custom/article_header.html
  theme/voidy-bootstrap/templates/includes/custom/article_header_info.html
Labels: theme

#208 Auto-labeling system for pull-requests.
  .github/labeler.yml
  .github/workflows/label.yml
Labels: system

#207 autosummary: small bugfix
  myplugins/autosummary/autosummary.py
Labels: system

#206 Put https:// at the head of SITEURL.
  content/contentpublishconf.py
Labels: technical

#212 Horizontal alignment for tag-group list.
  content/pages/includes/blog_content.html
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: page/news, theme

#211 Make titlebar a bit thinner, by 10px.
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: theme

#205 Post Preview-Links for every pull-request
  .github/workflows/post_preview_link.yml
Labels: system

#201 Plugin/category names
  content/contentconf.py
  myplugins/category_names/LICENSE
  myplugins/category_names/ReadMe.md
  myplugins/category_names/__init__.py
  myplugins/category_names/category_names.py
  myplugins/category_names/requirements.txt
  pelicanconf.py
  theme/voidy-bootstrap/templates/category.html
  theme/voidy-bootstrap/templates/includes/custom/article_header_info.html
  theme/voidy-bootstrap/templates/includes/custom/content_top_category.html
  theme/voidy-bootstrap/templates/includes/custom/sidebar.html
Labels: system, technical, theme

#213 Different badge colors for different tag-groups.
  content/contentconf.py
  content/pages/includes/blog_content.html
  theme/voidy-bootstrap/templates/includes/custom/article_header_info.html
Labels: page/news, theme

#154 Preview System
  README.md
  tools/gotobranch.sh
  tools/lib/deploy.py
  tools/pushsite.sh
  tools/updatesite.sh
  webhook_requirements.txt
Labels: document, system

#215 make tag_cloud a bit more compact.
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: theme

#217 badge color 'darkgreen' -> 'green'
  content/contentconf.py
Labels: config

#218 content/README.md: on auto-assignment of label & auto-post of preview link
  content/README.md
Labels: document

#219 create.sh -> create.py
  content/README.md
  content/create.py
  content/create.sh
  content/template.md
Labels: document, system

#220 'Social' links represented just by large colored icons
  content/contentconf.py
  pelicanconf.py
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
  theme/voidy-bootstrap/templates/base.html
  theme/voidy-bootstrap/templates/includes/custom/sb_twittertl.html
  theme/voidy-bootstrap/templates/includes/custom/sidebar.html
Labels: Caution, config, theme

#216 Redirect deleted preview to the master
  .github/workflows/delete_preview.yml
  content/README.md
Labels: document, system

#221 two-column view on sidebar, for narrower window
  theme/voidy-bootstrap/templates/includes/custom/sidebar.html
Labels: theme

#222 Move copyright information from theme to content/contentconf
  content/contentconf.py
  theme/voidy-bootstrap/templates/includes/custom/footer.html
Labels: technical, theme

#227 Delete_Preview: Fix of non-delete bug.
  .github/workflows/delete_preview.yml
Labels: system

#226 Add mouseover-popup to tag badges.
  theme/voidy-bootstrap/templates/includes/custom/article_header_info.html
Labels: theme

#224 Delete 'A Page in' from the default description of pages
  theme/voidy-bootstrap/templates/page.html
Labels: theme

#225 Add article numbers of tags in blog.html
  content/pages/includes/blog_content.html
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: page/news, theme
