Repository oumpy/hp_management, pull requests merged in 2020-08, with the labels that each got.

#334 Add a new article '血糖値の数理シミュレーション', together with a new tag 'Simulation'
  content/articles/2020sy/blog/bloodsugar_simulation.ipynb
  content/articles/2020sy/blog/bloodsugar_simulation.nbdata
  content/contentconf.py
Labels: article, config

#336 Appearance of Jupyter Notebooks
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: theme

#330 activities.md & achievements.md: Add author's link for each name.
  content/pages/achievements.md
  content/pages/activities.md
Labels: page/news

#337 Correct {filename} to {static} in about.md
  content/pages/about.md
Labels: page/news, technical

#338 Add new plugin SkipTags, to delete h1 from JupyerNotebooks.
  myplugins/skiptags.py
  pelicanconf.py
Labels: system

#332 Add PayPal.Me Link to the Sidebar
  content/contentconf.py
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/sb_support.html
Labels: Caution, config, theme

#339 SkipTags: Correct CRITICAL Error.
  myplugins/skiptags.py
Labels: bug, system

#340 shellscript_tutorial.md: Add tag 'Unix'.
  content/articles/2019sy/blog/shellscript_tutorial.md
Labels: article

#333 Make a page of supporters list
  content/contentconf.py
  content/pages/donations.md
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: Caution, config, page/news, theme

#343 Add a new tag '自動化' & switch 4 articles to it from 'Python'.
  content/articles/2018sy/blog/sushi_typing.md
  content/articles/2018sy/blog/twitter_automation.md
  content/articles/2020sy/blog/aircon_via_internet.md
  content/articles/2020sy/blog/youtube_api.md
  content/contentconf.py
Labels: article, config

#342 Update achievements.md
  content/pages/achievements.md
Labels: page/news

#347 Revise content/README.md
  content/README.md
Labels: document
