Repository oumpy/hp_management, pull requests merged in 2020-05, with the labels that each got.

#229 recruit.md: Add recruit presentation movies.
  content/pages/recruit.md
  pelicanconf.py
Labels: config, page/news

#223 Recent posts on sidebar
  pelicanconf.py
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
  theme/voidy-bootstrap/templates/includes/custom/sb_recentposts.html
Labels: theme

#230 Revise deploy_on_site.yml, to avoid collisions among sequential merges.
  .github/workflows/deploy_on_site.yml
Labels: system

#231 Add new tags '論文まとめ' & 'ハードウェア'. Assign some articles to 2 tags.
  content/articles/2018sy/Blog/doctor_exam_ai.md
  content/articles/2018sy/Blog/hardware_for_deeplearning.md
  content/articles/2019sy/Blog/GPUs_for_ML.md
  content/articles/2019sy/Blog/bioinfoexam2019_answer.md
  content/contentconf.py
Labels: article, config

#234 Add 'Machine Learning' tag to voice_recoginition.md
  content/articles/2018sy/Blog/voice_recognition.md
Labels: article

#239 Make simpler the sidebar structure.
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/sb_categories.html
  theme/voidy-bootstrap/templates/includes/custom/sb_feeds.html
  theme/voidy-bootstrap/templates/includes/custom/sb_social.html
  theme/voidy-bootstrap/templates/includes/custom/sidebar.html
Labels: theme

#238 Add social link to Connpass
  content/contentconf.py
Labels: config

#236 Improve connections between pelicanconf.py & contentconf.py
  content/contentconf.py
  pelicanconf.py
  tools/lib/pelicanns.py
Labels: config, system, technical

#235 Syntax-correct visualization.md (2018 article)
  content/articles/2018sy/Blog/python_visualization.md
Labels: article, bug

#233 Let slug metadata be omittable
  content/template.md
  myplugins/filename2slug/LICENSE
  myplugins/filename2slug/ReadMe.md
  myplugins/filename2slug/__init__.py
  myplugins/filename2slug/filename2slug.py
  pelicanconf.py
Labels: system

#240 [URGENT] filename2slug: critical bugfix
  myplugins/filename2slug/filename2slug.py
Labels: Caution, bug, system

#232 Add image-folder creation to content/create.py
  content/create.py
Labels: config

#245 Correct YouTube embedding in sushi_typing.md
  content/articles/2018sy/Blog/sushi_typing.md
Labels: article

#244 Add tag '論文まとめ' to 2018 article breast_cancer_detection.md
  content/articles/2018sy/Blog/breast_cancer_detection.md
Labels: article

#242 Add article numbers to tag_cloud in the sidebar.
  content/contentconf.py
Labels: config

#241 Delete handmade summaries from articles.
  content/articles/2018sy/Blog/RDKit.nbdata
  content/articles/2018sy/Blog/animalshogi.md
  content/articles/2018sy/Blog/article_reading.md
  content/articles/2018sy/Blog/bayesian_ttest.nbdata
  content/articles/2018sy/Blog/breast_cancer_detection.md
  content/articles/2018sy/Blog/cluster_analysis.md
  content/articles/2018sy/Blog/cwl.md
  content/articles/2018sy/Blog/doctor_exam_ai.md
  content/articles/2018sy/Blog/environment_bioinformatics.md
  content/articles/2018sy/Blog/github_desktop.md
  content/articles/2018sy/Blog/google_colaboratory.md
  content/articles/2018sy/Blog/gsea.md
  content/articles/2018sy/Blog/handai_math.nbdata
  content/articles/2018sy/Blog/hardware_for_deeplearning.md
  content/articles/2018sy/Blog/julia_python_competition.md
  content/articles/2018sy/Blog/kallisto_rnaseq_pipeline.md
  content/articles/2018sy/Blog/kaplan_meier_curve.nbdata
  content/articles/2018sy/Blog/lorenz.nbdata
  content/articles/2018sy/Blog/macs2_deeptools.md
  content/articles/2018sy/Blog/mishima.md
  content/articles/2018sy/Blog/mockinbird_parclip.md
  content/articles/2018sy/Blog/n_number.md
  content/articles/2018sy/Blog/original_rnaseq_pipeline.md
  content/articles/2018sy/Blog/pandas_pivot_table.md
  content/articles/2018sy/Blog/parameter_tuning.md
  content/articles/2018sy/Blog/particle_filter.md
  content/articles/2018sy/Blog/python_value.md
  content/articles/2018sy/Blog/python_visualization.md
  content/articles/2018sy/Blog/regular_expression.nbdata
  content/articles/2018sy/Blog/shellscript_1.md
  content/articles/2018sy/Blog/shellscript_2.md
  content/articles/2018sy/Blog/study_abroad.md
  content/articles/2018sy/Blog/sushi_typing.md
  content/articles/2018sy/Blog/twitter_automation.md
  content/articles/2018sy/Blog/umap.md
  content/articles/2018sy/Blog/velocyto.md
  content/articles/2018sy/Blog/voice_recognition.md
  content/articles/2018sy/Blog/webscraping.md
  content/articles/2019sy/Blog/DABEST_tutorial.md
  content/articles/2019sy/Blog/GPUs_for_ML.md
  content/articles/2019sy/Blog/IPA_FE.md
  content/articles/2019sy/Blog/atcoder_beginners_selection.md
  content/articles/2019sy/Blog/bioinfoexam2019_answer.md
  content/articles/2019sy/Blog/cancer_signature.md
  content/articles/2019sy/Blog/competition_input.md
  content/articles/2019sy/Blog/shellscript_tutorial.md
  content/articles/2020sy/Blog/linear_mixed_model.md
  content/articles/2020sy/Blog/neural_tangents.nbdata
Labels: article, technical

#247 autosummary: Bugfix
  myplugins/autosummary/autosummary.py
Labels: bug, system

#248 Bugfix in content/create.py when a content markdown file is given.
  content/create.py
Labels: bug

#260 Add a hyperlink to 2018 article breast_cancer.md
  content/articles/2018sy/blog/breast_cancer_detection.md
Labels: article

#259 Add 2019sy article 'U-Netで細胞認識'
  content/articles/2019sy/blog/UNet_cells_recognition.md
  content/articles/2019sy/blog/images/UNet_cells_recognition_figs/image01.png
  content/articles/2019sy/blog/images/UNet_cells_recognition_figs/image02.jpg
  content/articles/2019sy/blog/images/UNet_cells_recognition_figs/image03.jpg
  content/articles/2019sy/blog/images/UNet_cells_recognition_figs/image04.png
  content/articles/2019sy/blog/images/UNet_cells_recognition_figs/image05.png
Labels: article

#261 Add 2019sy article '行列演算の初歩の初歩とNumPy'
  content/articles/2019sy/blog/matrix_numpy.md
Labels: article

#262 Add 2018sy article 'ipynb破損時の対応'
  content/articles/2018sy/blog/images/ipynb_broken_figs/image01.png
  content/articles/2018sy/blog/images/ipynb_broken_figs/image02.png
  content/articles/2018sy/blog/images/ipynb_broken_figs/image03.png
  content/articles/2018sy/blog/images/ipynb_broken_figs/image04.png
  content/articles/2018sy/blog/ipynb_broken.md
Labels: article

#249 Add 2019sy article unix_permission.md
  content/articles/2019sy/blog/unix_permission.md
  content/contentconf.py
Labels: article, config

#252 Bugfix on colab-link to jupyter notebooks.
  theme/voidy-bootstrap/templates/includes/custom/header_article.html
  theme/voidy-bootstrap/templates/includes/custom/open_in_colab_scripts.html
Labels: bug, theme

#265 Add 2019sy article '転移学習とCAM'
  content/articles/2019sy/blog/TF_CAM.ipynb
  content/articles/2019sy/blog/TF_CAM.nbdata
Labels: article

#264 Add 2019sy article 'deeplabcutの使い方まとめ'
  content/articles/2019sy/blog/deeplabcut.md
Labels: article

#253 Move `apply_jinja2` filter, from pelicanconf to a new plugin `apply_jinja2`
  myplugins/apply_jinja2.py
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/content_top_category.html
Labels: config, system, technical, theme

#250 activities.md: Add comments on student-server administration.
  content/pages/activities.md
Labels: page/news

#269 Add Google Custom Search Engine
  content/contentconf.py
  content/pages/search.md
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/sb_google_cse.html
Labels: config, page/news, theme

#267 Update README.md on developing processes
  README.md
Labels: document

#268 Add robots.txt to block crawlers from previews.
  content/extra/robots.txt
  publishconf.py
Labels: config

#254 preview.yml: very minor correction.
  .github/workflows/preview.yml
Labels: system, technical

#246 Fix plugin filename2slug
  myplugins/filename2slug/filename2slug.py
Labels: system, technical

#243 Delete 'slug' metadata from articles & pages
  content/articles/2018sy/blog/RDKit.nbdata
  content/articles/2018sy/blog/animalshogi.md
  content/articles/2018sy/blog/article_reading.md
  content/articles/2018sy/blog/bayesian_ttest.nbdata
  content/articles/2018sy/blog/breast_cancer_detection.md
  content/articles/2018sy/blog/cluster_analysis.md
  content/articles/2018sy/blog/cwl.md
  content/articles/2018sy/blog/doctor_exam_ai.md
  content/articles/2018sy/blog/environment_bioinformatics.md
  content/articles/2018sy/blog/github_desktop.md
  content/articles/2018sy/blog/google_colaboratory.md
  content/articles/2018sy/blog/gsea.md
  content/articles/2018sy/blog/handai_math.nbdata
  content/articles/2018sy/blog/hardware_for_deeplearning.md
  content/articles/2018sy/blog/julia_python_competition.md
  content/articles/2018sy/blog/kallisto_rnaseq_pipeline.md
  content/articles/2018sy/blog/kaplan_meier_curve.nbdata
  content/articles/2018sy/blog/lorenz.nbdata
  content/articles/2018sy/blog/macs2_deeptools.md
  content/articles/2018sy/blog/mishima.md
  content/articles/2018sy/blog/mockinbird_parclip.md
  content/articles/2018sy/blog/n_number.md
  content/articles/2018sy/blog/original_rnaseq_pipeline.md
  content/articles/2018sy/blog/pandas_pivot_table.md
  content/articles/2018sy/blog/parameter_tuning.md
  content/articles/2018sy/blog/particle_filter.md
  content/articles/2018sy/blog/python_value.md
  content/articles/2018sy/blog/python_visualization.md
  content/articles/2018sy/blog/regular_expression.nbdata
  content/articles/2018sy/blog/shellscript_1.md
  content/articles/2018sy/blog/shellscript_2.md
  content/articles/2018sy/blog/study_abroad.md
  content/articles/2018sy/blog/sushi_typing.md
  content/articles/2018sy/blog/twitter_automation.md
  content/articles/2018sy/blog/umap.md
  content/articles/2018sy/blog/velocyto.md
  content/articles/2018sy/blog/voice_recognition.md
  content/articles/2018sy/blog/webscraping.md
  content/articles/2019sy/blog/DABEST_tutorial.md
  content/articles/2019sy/blog/GPUs_for_ML.md
  content/articles/2019sy/blog/IPA_FE.md
  content/articles/2019sy/blog/atcoder_beginners_selection.md
  content/articles/2019sy/blog/bioinfoexam2019_answer.md
  content/articles/2019sy/blog/cancer_signature.md
  content/articles/2019sy/blog/competition_input.md
  content/articles/2019sy/blog/ica.nbdata
  content/articles/2019sy/blog/shellscript_tutorial.md
  content/articles/2019sy/news/website_integration.md
  content/articles/2019sy/news/website_renewal.md
  content/articles/2020sy/blog/linear_mixed_model.md
  content/articles/2020sy/blog/neural_tangents.nbdata
  content/pages/achievements.md
  content/pages/activities.md
  content/pages/contact.md
  content/pages/recruit.md
Labels: article, page/news, technical

#266 Update create.py for ipynb contents
  content/README.md
  content/create.py
Labels: config, document

#270 Minor corrections about recent posts on sidebar
  content/contentconf.py
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/sb_recentposts.html
Labels: config, theme

#255 Move postprocess from Makefile to Plugin
  Makefile
  content/contentconf.py
  myplugins/postprocess.py
Labels: config, system, technical

#274 Sitemap: reduce the weight for index pages.
  content/contentpublishconf.py
Labels: config

#272 Stop using `filename2slug`, and set `SLUGIFY_SOURCE='basename'` instead.
  pelicanconf.py
Labels: config, system

#263 deploy_on_site.yml: Force-push to site repository to resolve collisions.
  .github/workflows/deploy_on_site.yml
Labels: system

#273 Studymeeting2020
  content/articles/2020sy/blog/attach/studymeeting2020_01_attach/200519_python会入門.pdf
  content/articles/2020sy/blog/attach/studymeeting2020_01_attach/Python_tutorial.ipynb
  content/articles/2020sy/blog/studymeeting2020_01.md
  content/contentconf.py
  pelicanconf.py
  theme/voidy-bootstrap/templates/includes/custom/open_in_colab_scripts.html
Labels: article, document, system, theme

#286 第二回勉強会です。
  content/articles/2020sy/blog/attach/studymeeting2020_02_attach/勉強会_python基本文法.ipynb
  content/articles/2020sy/blog/studymeeting2020_02.md
Labels: article

#281 Add a page constitution.md & a news '会規約を制定しました'
  content/articles/2020sy/news/establish_constitution.md
  content/pages/constitution.md
Labels: page/news

#276 Add badge of colab link to attached ipynb files, rather than replacing URL.
  content/articles/2020sy/blog/studymeeting2020_01.md
  content/articles/2020sy/blog/studymeeting2020_02.md
  theme/voidy-bootstrap/templates/includes/custom/open_in_colab_scripts.html
Labels: article, theme

#284 Add a plugin `subsections`
  myplugins/subsections/LICENSE
  myplugins/subsections/ReadMe.md
  myplugins/subsections/__init__.py
  myplugins/subsections/subsections.py
Labels: system, technical

#277 recruit.md: Add slide pdf for recruit-presentation 2020-08
  content/pages/attach/recruit/recruitpresentation2020-08.pdf
  content/pages/recruit.md
Labels: page/news

#280 Revert PR #216 & #227
  .github/workflows/delete_preview.yml
  content/README.md
Labels: document, system, technical

#279 CODEOWNERS: Add `staff_recruit` the authority for attached files to recruit.md
  .github/CODEOWNERS
Labels: system

#282 Add a new article, '赤外線対応エアコンをインターネットを用いて操作する方法'
  content/articles/2020sy/blog/aircon_via_internet.md
  content/articles/2020sy/blog/images/aircon_via_internet_figs/fig1-1.png
  content/articles/2020sy/blog/images/aircon_via_internet_figs/fig1-2.png
  content/articles/2020sy/blog/images/aircon_via_internet_figs/fig7-1.png
Labels: article

#288 Show a bit more recent_posts in sidebar. (`RECENT_POST_COUNT=8`)
  content/contentconf.py
  pelicanconf.py
Labels: config

#278 Simplify the directory names of attached files.
  content/articles/2020sy/blog/attach/studymeeting2020_01/200519_python会入門.pdf
  content/articles/2020sy/blog/attach/studymeeting2020_01/Python_tutorial.ipynb
  content/articles/2020sy/blog/attach/studymeeting2020_02/勉強会_python基本文法.ipynb
  content/articles/2020sy/blog/studymeeting2020_01.md
  content/articles/2020sy/blog/studymeeting2020_02.md
Labels: article

#275 pelicanconf: Comment out `PAGE_ORDER_BY = 'page_order'`
  pelicanconf.py
Labels: config, technical

#283 Add plugin `path2obj` : provide filters `source2obj` & `url2obj`
  myplugins/path2obj/LICENSE
  myplugins/path2obj/ReadMe.md
  myplugins/path2obj/__init__.py
  myplugins/path2obj/path2obj.py
Labels: system, technical

#289 Add a news, '医学部公認と正式名称の検討について'
  content/articles/2020sy/news/officialize_and_officialname.md
Labels: page/news

#290 AtCoder: 3 blue, 2 cyan -> 4 blue, 1 cyan (Ldwic03 cyan -> blue)
  content/pages/achievements.md
Labels: page/news

#291 Use `makemenu` for menubar, activating articles correctly.
  content/contentconf.py
  myplugins/makemenu.py
  pelicanconf.py
  theme/voidy-bootstrap/templates/base.html
Labels: system, theme

#292 Disclaimer added in blog_content.html
  content/pages/includes/blog_content.html
Labels: page/news
