Repository oumpy/hp_management, pull requests merged in 2021-05, with the labels that each got.

#407 New article ikra v2
  content/articles/2021sy/blog/ikra_v2.md
  content/articles/2021sy/blog/images/ikra_v2_figs/IGV_Actb.png
Labels: article

#409 Article dino
  content/articles/2021sy/blog/attach/dino/dino_visualize_attention.ipynb
  content/articles/2021sy/blog/dino.md
  content/articles/2021sy/blog/images/dino_figs/fig1_dino.jpg
  content/articles/2021sy/blog/images/dino_figs/fig4_dino.jpg
  content/articles/2021sy/blog/images/dino_figs/model1.jpg
  content/articles/2021sy/blog/images/dino_figs/model2.jpg
  content/articles/2021sy/blog/images/dino_figs/notebook.png
  content/articles/2021sy/blog/images/dino_figs/output_clusters.jpg
  content/articles/2021sy/blog/images/dino_figs/sharpening_centering.png
  content/articles/2021sy/blog/images/dino_figs/ssl.png
  content/articles/2021sy/blog/images/dino_figs/vit.jpg
Labels: article

#406 Modified CSS for code block padding
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: theme

#411 Update activities
  content/pages/activities.md
  content/pages/images/activities/medical_ai_3rd.jpg
Labels: page/news

#412 add 自主研究事業2020
  content/articles/2021sy/blog/images/jisyukenkyu_figs/8519.jpg
  content/articles/2021sy/blog/images/jisyukenkyu_figs/preprocessing.jpg
  content/articles/2021sy/blog/images/jisyukenkyu_figs/result.jpg
  content/articles/2021sy/blog/jisyukenkyu.md
Labels: article

#410 Update donations.md
  content/pages/donations.md
Labels: page/news

#413 achievements.md: Update on AtCoder
  content/pages/achievements.md
Labels: page/news

#414 achievements: Update modified date.
  content/pages/achievements.md
Labels: page/news
