Repository oumpy/hp_management, pull requests merged in 2021-12, with the labels that each got.

#433 update cyclecompe.md
  content/articles/2021sy/blog/cyclecompe.md
Labels: article

#437 Correct delete_preview.yml, for the issue #228.
  .github/workflows/delete_preview.yml
Labels: bug, technical, system

#439 delete_preview.yml: minor correction on commit comment.
  .github/workflows/delete_preview.yml
Labels: system

#440 deploy_on_site.yml: Update to avoid conflicts with other actions.
  .github/workflows/deploy_on_site.yml
  Makefile
Labels: system
