Repository oumpy/hp_management, pull requests merged in 2021-03, with the labels that each got.

#376 recruit.md: comment out update-date for the introduction movie.
  content/pages/recruit.md
Labels: page/news

#378 Add 2019 article, "Graph Neural Network (GNN)をゼロから実装した話"
  content/articles/2019sy/blog/GNNfrom0.md
  content/articles/2019sy/blog/images/GNNfrom0_figs/task4a_plot03.pdf
  content/articles/2019sy/blog/images/GNNfrom0_figs/task4a_plot03.png
  content/articles/2019sy/blog/images/GNNfrom0_figs/task4a_plot03a.pdf
  content/articles/2019sy/blog/images/GNNfrom0_figs/task4a_plot03a.png
  content/articles/2019sy/blog/images/GNNfrom0_figs/task4b_plot04.pdf
  content/articles/2019sy/blog/images/GNNfrom0_figs/task4b_plot04.png
  content/articles/2019sy/blog/images/GNNfrom0_figs/task4b_plot04a.pdf
  content/articles/2019sy/blog/images/GNNfrom0_figs/task4b_plot04a.png
Labels: article

#379 Add 2019 article, "基礎配属と企業インターン"
  content/articles/2019sy/blog/GNNfrom0.md
  content/articles/2019sy/blog/kisohai-intern.md
  content/contentconf.py
Labels: article, config

#381 Add 2018 article as TCGAbiolinks.md, "TCGAbiolinksとその使い方".
  content/articles/2018sy/blog/TCGAbiolinks.md
Labels: article

#380 Debug & Improvement of content/create.py
  content/create.py
Labels: bug, system

#382 Add 2019 article, "水色コーダー vs 応用情報技術者試験" (IPA_AP.md)
  content/articles/2019sy/blog/IPA_AP.md
  content/articles/2019sy/blog/IPA_FE.md
Labels: article

#385 rename ~~.md
  content/articles/2020sy/blog/studymeeting_attention2.md.md
Labels: article

#386 Rename studymeeting_attention2.md.md to studymeeting_attention2.md
  content/articles/2020sy/blog/studymeeting_attention2.md
Labels: article

#384 Update attention.md
  content/articles/2020sy/blog/studymeeting_attention2.md
Labels: article

#393 achievements: Now we have 5 blue-coders !
  content/pages/achievements.md
Labels: page/news
