Repository oumpy/hp_management, pull requests merged in 2022-06, with the labels that each got.

#469 英語のカルテデータのコンペに参加してみた(際の失敗と反省)
  .DS_Store
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig1.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig2.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig3.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig4.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig5.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig6.png
  content/articles/2022sy/blog/my_new_article_sugihara.md
  content/create.py
Labels: article

#470 Revert "英語のカルテデータのコンペに参加してみた(際の失敗と反省)"
  .DS_Store
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig1.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig2.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig3.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig4.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig5.png
  content/articles/2022sy/blog/images/sugihara_figs/sugiharacompe_fig6.png
  content/articles/2022sy/blog/my_new_article_sugihara.md
  content/create.py
Labels: bug, article, system

#472 削除依頼に基づき味岡さんの記事を削除
  content/articles/2019sy/blog/TF_CAM.ipynb
  content/articles/2019sy/blog/TF_CAM.nbdata
  content/articles/2019sy/blog/UNet_cells_recognition.md
  content/articles/2019sy/blog/deeplabcut.md
Labels: article

#473 寄付者追記
  content/pages/donations.md
Labels: page/news
