Repository oumpy/hp_management, pull requests merged in 2022-05, with the labels that each got.

#465 New article: zapline
  content/articles/2022sy/blog/zapline.ipynb
  content/articles/2022sy/blog/zapline.nbdata
Labels: article

#468 淡田さんの寄付と細胞診日本語雑誌掲載を追加
  content/articles/2021sy/blog/cytology.md
  content/pages/achievements.md
  content/pages/donations.md
Labels: article, page/news

#466 池側 clip_tutorial記事作成
  content/articles/2022sy/blog/clip_tutorial.md
Labels: article

#467 Update voidybootstrap-custom.css
  theme/voidy-bootstrap/static/css/voidybootstrap-custom.css
Labels: theme
