Repository oumpy/hp_management, pull requests merged in 2022-03, with the labels that each got.

#438 Update action setup-python v1->v2, in github actions workflows
  .github/workflows/delete_preview.yml
  .github/workflows/deploy_on_site.yml
  .github/workflows/preview.yml
Labels: technical, system

#444 pages/about.md: 競プロを追記　勉強会は不定期.
  content/pages/about.md
Labels: page/news

#445 記事
  content/articles/2021sy/blog/ゼータ・メビウス変換.md
Labels: article

#450 Update ゼータ・メビウス変換.md(改行や数式のバグを修正)
  content/articles/2021sy/blog/ゼータ・メビウス変換.md
Labels: article

#451 実績とcytologyの更新
  content/articles/2021sy/blog/cytology.md
  content/pages/achievements.md
Labels: article, page/news

#452 ikrav2を追記
  content/pages/achievements.md
Labels: page/news

#453 Kaggle Tabular Playground Series - Dec 2021.md
  content/articles/2021sy/blog/Kaggle Tabular Playground Series - Dec 2021.md
Labels: article

#448 workflows/delete_preview.yml: Correct commit message.
  .github/workflows/delete_preview.yml
Labels: system

#454 create car_allocate.md
  content/articles/2021sy/blog/car_allocate_linebot.md
Labels: article
