Repository oumpy/hp_management, pull requests merged in 2024-03, with the labels that each got.

#504 Update donations.md
  content/pages/donations.md
Labels: page/news

#506 Update versions of actions in workflows, to use node20.
  .github/workflows/delete_preview.yml
  .github/workflows/deploy_on_site.yml
  .github/workflows/preview.yml
Labels: system

#505 Update donations.md
  content/pages/donations.md
Labels: page/news

#507 workflows: correct wrong corrections of set-output.
  .github/workflows/deploy_on_site.yml
  .github/workflows/preview.yml
Labels: bug, system

#508 requirements.txt: minor updates of the packages.
  requirements.txt
Labels: technical, system

#509 tag_cloud: Change sorting, random -> size.
  pelicanconf.py
Labels: config

#503 Add a new article about singlecell by Toyota
  content/articles/2023sy/blog/custom_violin_plot.md
  content/articles/2023sy/blog/images/custom_violin_plot/image-2.png
  content/articles/2023sy/blog/images/custom_violin_plot/image-5.png
  content/articles/2023sy/blog/images/custom_violin_plot/image.png
Labels: article

#510 Update my own article(custom_violin_plot.md)
  content/articles/2023sy/blog/custom_violin_plot.md
  content/articles/2023sy/blog/images/custom_violin_plot/scanpy_image.png
Labels: article
