Repository oumpy/hp_management, pull requests merged in 2025-04, with the labels that each got.

#518 Create ICPC2024WF.md
  content/articles/2024sy/news/ICPC2024WF.md
Labels: page/news

#524 Add Copyright year "2018-".
  content/contentconf.py
  theme/voidy-bootstrap/templates/includes/custom/footer.html
Labels: theme, config

#525 Update achievements.md
  content/pages/achievements.md
Labels: page/news

#527 Update recruit.md
  content/pages/recruit.md
Labels: page/news

#529 recruit.md: update modified date.
  content/pages/recruit.md
Labels: page/news

#528 achievements.md: Corrections on formats of papers by members.
  content/pages/achievements.md
Labels: page/news

#530 Add files via upload
  content/pages/images/recruit/shinkan2025_new.jpg
Labels: page/news

#531 Update recruit.md
  content/pages/recruit.md
Labels: page/news

#532 Update Python: 3.11 -> 3.13
  .github/workflows/delete_preview.yml
  .github/workflows/deploy_on_site.yml
  .github/workflows/preview.yml
  requirements.txt
Labels: technical, system

#533 Update donations.md
  content/pages/donations.md
Labels: page/news
